<h2> <u class="underline_text"> About Contacting Me </u> </h2>
		
<div class="container-fluid" style="margin-top:30px">
		<p class= "text-center"> If you'd like to speak to me, send me an <a href="mailto:stephan.roche@upr.edu?" target="_blank"> email. </a> </p>

		<br></br>

		<p class= "text-center"> You can also contact me via <a href="https://www.linkedin.com/profile/view?id=265413541&trk=nav_responsive_tab_profile" target="_blank"> LinkedIn </a> </p> 

		<br></br>

		<p class= "text-center"> If for some reason, you'd like to write me a letter, hit me up at </p>
			<address> <strong> MyHouse </strong> <br>
			Calle Peral, Torre Peral 8H <br>
			Mayagüez, PR 00680<br>
			</address>  
	</div>