	<h2> <u class="underline_text"> About Me </u> </h2>
		
<div class="container-fluid" style="margin-top:30px">
		<p class= "text-center" style="font-size:18px"> I recently took it upon myself to build things using technology. <br>So far i've failed more times than I can count =) </p>

<br>
		<p class= "text-center" style="font-size:18px"> Currently i'm an IT & Finance student at the University of Puerto Rico. <br>
		Yes, I was also born and raised here.  </p>

		<br>

		<p class= "text-center" style="font-size:18px"> This site started as an online resume. I decided to turn it into my own website because well... why not? </p>
	</div>
			



