<h2> <u class="underline_text"> About My Experience </u> </h2>
		
<div class="container-fluid" style="margin-top:30px">


	<p class= "text-center"> These are a few places i've worked at: </p>

		<p class= "text-center">  <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/logos/uprm2.png" width="125px" height="125px" style="margin-left:5%"/>

<img src="https://s3-us-west-2.amazonaws.com/onlineresume/shpelogoclear.png" width="125px" height="125px" style="margin-left:5%"/>


<img src="https://s3-us-west-2.amazonaws.com/onlineresume/travlogoclear.png" width="125px" height="125px" style="margin-left:5%"/>

<img src="https://s3-us-west-2.amazonaws.com/onlineresume/mdreclogoclear.png" width="125px" height="125px" style="margin-left:5%"/>

		</p>


		<br></br>

		<p class= "text-center"> If you're looking for a more classic resume, <a href="https://s3-us-west-2.amazonaws.com/onlineresume/SRocheResumeCV.pdf" target="_blank" text-decoration="none"> click here </a> </p>

		

		<br></br>

		<p class="text-center"> Make sure to check out my <a href="https://github.com/sgroche" target="_blank" text-decoration="none"> GitHub </a> and see what coding projects i've done </p>
	</div>

